@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('/background_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  color: white;
  overflow-x: hidden;
}

.input {
  background-image: url(/icon.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30px;
}

.carousel {
  position: static !important;
  margin-inline: 40px !important;
}

.carousel button {
  background-color: transparent;
  transform: scale(1.50);

}

.carousel button:hover {
  background-color: transparent;
  transform: scale(2);

}

@media (max-width:464px) {


  .carousel {
    border-bottom: 1px solid white;
    width: 100vw;

  }
}